@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Infosys SEZ<br />
    Hyderabad <br />
    <abbr title="Phone">P:</abbr>
    9494974435
</address>

<address>
    <strong>Support:</strong>   <a href="v-animar@microsoft.com">Anil</a><br />
    <strong>Marketing:</strong> <a href="v-srymla@microsoft.com">Sreenivas</a>
</address>