@{
    ViewBag.Title = "Code Review";
}

<div class="jumbotron">
    <h1>Code Review</h1>
    <p class="lead">will review Agreements,Orders,UserManagemnet,TeleSales</p>
    <p><a href="https://licensing.microsoft.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Code review makes NGVL best 
        </p>
        <p><a class="btn btn-default" href="https://licensing.microsoft.com/">Learn more &raquo;</a></p>
    </div>
</div>